@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  font-family: "Lato", sans-serif;
}

.logo-text {
  margin-left: 171px !important;
  color: #0066b2;
  font-weight: 800 !important;
}

.nav {
  background-color: white !important;
  color: black !important;
}
.btn1 {
  background-color: blue !important;
}
.icon {
  color: white;
}

.searchbox {
  outline: blue !important;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#line {
  position: relative;
  margin: 8px 0;
}

#line::before {
  content: "";
  position: absolute;
  top: 2;
  left: 0;
  width: 2px; /* Adjust the width of the line as needed */
  height: 75%;
  background-color: #000; /* Line color */
}

.searchbox {
  position: relative;
  align-items: center;
  background-color: var(--ytd-searchbox-background);
  border: 1px solid var(--ytd-searchbox-legacy-border-color);
  border-right: none;
  border-radius: 40px 0 0 40px;
  box-shadow: inset 0 1px 2px var(--ytd-searchbox-legacy-border-shadow-color);
  caret-color: var(--yt-spec-text-primary);
  color: blue;
  padding: 0px 4px 0px 16px;
  margin-left: 32px;
  flex: 1;
  flex-basis: 1e-9px;
  display: flexbox;
  display: flex;
  flex-direction: row;
}

/* banner */
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 400px;
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 2rem;
  height: 2rem;
  color: white;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: grey;
}

/* header section  */
.header-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
  gap: 20px;
  background-color: #0066b2;
  color: white;
  font-weight: 700;
  padding: 5px;
}

.hovered-typography:hover {
  background-color: #0ebac5 !important;
  transition: background-color 0.3s ease;
  transform: scale(1.2);
}
.hovered-typography {
  text-decoration: none;
  color: aliceblue !important;
}

/* intro - landing */
.intro-landing {
  text-align: center;
}
.circleImage {
  clip-path: circle(27% at 51% 30%);
  width: 9%;
  height: 10% !important;
  margin-top: 16px;
}

.circleContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.landing-text {
  font-size: 1rem;
  font-weight: 300;
}
.btn2 {
  padding-bottom: 41px;
}

.info-btn2 {
  padding-right: 60px;
  padding-left: 61px;
}

/* appointment */
.appointment {
  background-color: #0066b2;
  padding-left: 80px;
  color: white;
  font-size: 12px;
  padding-top: 47px;
  padding-bottom: 30px;
  clip-path: polygon(0% 0%, 0 100%, 25% 100%, 25% 100%, 69% 100%, 100% 0%);
}
.appoin-text {
  padding-top: 10px;
  font-size: 14px;
  text-align: left;
}

.icon-num {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 15px;
}

.req-btn {
  padding-top: 20px;
}

.req-btn2 {
  background-color: white !important;
  color: #0066b2 !important;
  font-weight: 800;
  font-size: 14px;
}

.appoint-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  clip-path: polygon(23% -3%, 0 100%, 23% 102%, 27% 101%, 100% 100%, 100% 0%);
}

/* cards */
.cards {
  display: flex;
}
.textalign-center {
  text-align: center;
  display: flex;
  justify-content: center;
}
.card {
  border: 1px solid #ccc;
  box-shadow: 2px -1px 12px 1px rgba(191, 174, 201, 0.8);
  -webkit-box-shadow: 2px -1px 12px 1px rgba(191, 174, 201, 0.8);
  -moz-box-shadow: 2px -1px 12px 1px rgba(191, 174, 201, 0.8);
}

.card-content {
  text-align: center;
}

.card-head {
  font-weight: 600 !important;
  color: blue;
}

.card-subhead {
  font-weight: 800 !important;
  color: black;
}

.cards-container {
  padding-bottom: 30px;
}

/* info */

.bg {
  background-color: #e5e4e2;
  margin-top: 15px;
}
.info-text {
  margin-top: 70px;

  text-align: center !important;
}
.info-box {
  margin-top: 30px;
}

/* footer */
.container {
  
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 800px;
  -webkit-perspective: 800px;
}

.button:hover .upper{
  transform:rotateX(-120deg);
}

input[type="email"]{
  width:270px; 
  height: 17px;
  background-color: white;
  border:1.8px solid #359eec;
  padding: 5px;
  padding-left:10px;
  font-size:20px; 
  font-family: 'Montserrat', sans-serif;
}
button{
  background-color:#359eec;
  border:none;
  color:white;
  font-size: 19px;
  padding: 4px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Montserrat', sans-serif;
}

.horizontal-line{
  color: black;
}